* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

/* titolo */

.titolo {
    margin-top: 20px;
    text-align: center;
}

/* descrizione */
.descrizione {
    text-align: center;
    margin-top: 20px;
    width: 60%;
    margin: 60px auto;
}

/* immagini */
.contenitore-immagini {
    width: 60%;
    height: 400px;
    margin: auto;
}

img {
    width: 100px; 
}

.float {
   float: left;
}

.contenitore-nome {
    padding: 10px 0 10px 10px; 
}

.contenitore {
    margin: 0 15px 50px 15px;
    width: calc((100% - 90px) / 3);
    background-color: rgb(20, 18, 19);
    box-shadow: 0 0 5px 4px rgb(0, 0, 0, .3);
}

.contenitore span {
    display: block;
}

.contenitore span a {
    text-decoration: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

h3, h4{
    color: white;
    margin: 0 0 10px 0;
}
